.secHeading{z-index: 1;}
.secHeading > h2{font-family: var(--OptimaLT-font); font-size: var(--main-title);text-align: center; font-weight: var(--fw-bold); text-transform: uppercase; margin-bottom: 0.5952em;}
.secHeading > p{font-size: var(--body); font-family: var(--Lora-font); color: var(--secondary-Txt-color); line-height: 1.4 ; text-align: center; max-width: 790px; width: 100%; margin: auto;}

.secDevider {position: absolute;bottom: -325px; z-index: 1;}

.heroSecTwoInfo{position: absolute; top: 0; left: 0; right: 0; max-width: 753px; width: 100%; margin: auto; z-index: 11;}
.heroSecTwoInfo p{font-size: var(--body); font-family: var(--Lora-font); color: var(--secondary-Txt-color); line-height: 1.6; text-align: center;position: relative;z-index: 2;}

.homeflavourInfo{background: linear-gradient(180deg, rgba(255, 247, 227, 0) 0.93%, #FFF7E3 8.98%);}
.homeSpaceHeading{z-index: 2;}
.homeSpaceHeading > p, .homeSpaceHeading > h2{position: relative; z-index: 2;}
.homeSpaceDevider{bottom: -300px;}
.spaceDevider{bottom: -157px;}

.teamSlider{margin-top: 2em;}
.teamSlideInfo{width: 100%; border-radius: 6px;margin-inline: 0.75em;overflow: hidden;}
.teamSlideInfo:hover .teamMemMediaBox{opacity: 1;right: 0.8125em;}
.teamSlideInfo > img{transition: all 0.5s;}
.teamSlideInfo:hover > img{transform: scale(1.1);}
.teamMemberInfo{position: absolute; left: 0; bottom: 0; background: rgba(255, 255, 255, 0.9); padding: 6px 10px 6px 20px; border-radius: 0px 10px 0px 0px;}
.teamMemberInfo > h4{font-size: var(--body-sub); font-family: var(--Inter-font); font-weight: var(--fw-bold); line-height: 26px; color: var(--primary-Txt-color); margin-bottom: 4px;}
.teamMemberInfo > p{font-size: var(--body-sub); font-family: var(--Inter-font); line-height: 22px; color: var(--primary-Txt-color);}
.teamMemMediaBox{position: absolute; top: 1em; right: -1.1875em;opacity: 0;transition: all 0.3s ease;}
.teamMemMediaBox > li:not(:last-child){margin-bottom: 0.5625em;}
.teamMemMediaBox > li > a:hover svg path:first-child{fill: var(--primary-color); transition: all 0.3s ease;}
.teamMemMediaBox > li > a:hover svg path:last-child{fill: var(--White); transition: all 0.3s ease;}

.menuDevider{bottom: -180px;}
.menuHeading > p{max-width: 916px; width: 100%;}
.menuItemListBox{margin-top: 4.5em;}
.menuItemList{display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 3.75em;}
.menuItem{width: calc(50% - 2.4em); text-align: center;}
.menuItem > h5{font-family: var(--Lora-font); font-size: var(--body-sub); font-weight: var(--fw-medium); color: var(--secondary-color); text-align: center; padding-bottom: 6.5px; margin-bottom: 8.5px; position: relative; display: flex; justify-content: center; column-gap: 20px;}
.menuItem > h5::after{content: ""; max-width: 156px; width: 100%; margin: auto; position: absolute; left: 0; right: 0; bottom: 0; border-bottom: 1px solid var(--primary-color);}
.menuItem > p{font-family: var(--Lora-font); color: var(--Tertiary-Txt-color); font-size: var(--sub-txt); text-align: center;}

.reservationInfoBox{padding-top: var(--secGap);}
.reservDevider{bottom: -165px;}
.reserveHeading{margin-bottom: 3em;}
.reserveHeading > p{max-width: 1010px; width: 100%; padding-bottom: 20px;}
.reserveBookBtn{margin-top: 3em;}
.reserveThingItem:not(:last-child){padding-bottom: 2em; margin-bottom: 1.5em;}
.reserveThingItem::after{content: ""; max-width: 386px; width: 100%; margin: auto; position: absolute; left: 0; right: 0; bottom: 0; border-bottom: 1px solid var(--primary-color);opacity: 0.4;}
.reserveThingItem:last-child:after{content: ""; max-width: 386px; width: 100%; margin: auto; position: absolute; left: 0; right: 0; bottom: 0; border-bottom: 1px solid var(--primary-color); opacity: 0;}
.reserveThingItem > h5{text-align: center; margin-bottom: 8px; font-family: var(--OptimaLT-font); font-size: calc(var(--sub-title) - 1px); color: var(--secondary-color); font-weight: var(--fw-bold);}
.reserveThingItem > p{text-align: center; font-family: var(--Lora-font); font-size: var(--body-sub); font-weight: var(--fw-medium); line-height: 31px; color: rgba(86, 86, 86, 0.7);}